.menu-item {
  margin: 8px 33px;

  .menu-list {
    display: flex;
    justify-content: flex-start;

    .ancla {
      text-decoration: none;
      color: #4d4e55;
      font-size: 15px;

      padding-left: 10px;
      font-weight: bold;
    }
    .visible {
      list-style-type: none;
      color: aliceblue;
      padding-bottom: 0px;
    }
  }
  .menu-list:hover {
    .ancla {
      color: aliceblue;
    }
  }
}
