.button-central {
  margin: 25px 0;
  padding: 13px 16px;
  color: white;
  background: #372593;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  outline: none;
  border: 1px solid gainsboro;
  cursor: pointer;
}
