.global-user {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  width: 100%;

  .container-information {
    width: 850px;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    background: #ffffff;
    margin: 50px auto;
    .container-button {
      display: flex;
      justify-content: flex-end;
      margin: 0px 10px;

      .new-user {
        padding: 0px 14px;
        color: white;
        background: #372593;
        font-size: 16px;
        font-weight: bold;
        border-radius: 4px;
        outline: none;
        border: 1px solid gainsboro;
        cursor: pointer;
      }
    }

    .container-table {
      overflow-y: scroll;
      .user-list {
        border-collapse: collapse;

        tr {
          margin: 15px;

          border-top: 1px solid #8479793d;
        }
        td {
          border-top: 1px solid #8479793d;
        }
        .user-status {
          padding-right: 56px;
        }
        .user-email {
          padding: 0 56px;
        }
        .user-logo {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 24px;
          height: 23px;
          border-radius: 50%;
          border: none;
          padding: 15px;
          background-color: #e6e9ef;
          color: #396086;
          font-weight: 800;
          margin: 15px;
        }
        .user-icon {
          cursor: pointer;
          .rute-edit-users {
            color: #396086;
            margin-right: 10px;
          }
        }
      }
    }
  }
}

html {
  --scrollbarBG: #ffffff;
  --thumbBG: #84797946;
}
*::-webkit-scrollbar {
  width: 11px;
}
* {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
*::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
  opacity: 0.2;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 1px solid var(--scrollbarBG);
}
