.container-error {
  display: flex;
  align-items: center;
  justify-content: center;
  .image-error {
    width: 620px;
  }
}

/* if (data.code === 422) {
        _.find(data.data, function (e) {
          eField.push(e.field.toUpperCase() + ": " + e.message + ".");
          if (eField > eField[0]) {
            message = `Se han presentado errores en los siguientes campos de información: \n ${eField.join(
              " "
            )}`;
          } else {
            message = `Se han presentado errores en el siguiente campo de información: ${eField}`;
          }
        });

        store.addNotification({
          title: "Opps!",
          message: message,
          type: "danger",
          insert: "top",
          container: "top-right",
          animationIn: ["animate__animated", "animate__bounceIn"],
          animationOut: ["animate__animated", "animate__bounceOut"],
          dismiss: {
            duration: 15000,
            onScreen: true,
            pauseOnHover: true,
            showIcon: true,
          },
        });
      } else {
        store.addNotification({
          title: "Wonderful!!!",
          message: "El nuevo usuario se ha creado perfectamente",
          type: "success",
          insert: "top",
          container: "top-right",
          animationIn: ["animate__animated", "animate__bounceIn"],
          animationOut: ["animate__animated", "animate__bounceOut"],
          dismiss: {
            duration: 15000,
            onScreen: true,
            pauseOnHover: true,
            showIcon: true,
          },
        });
      } */
