.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    width: 560px;
    border-radius: 8px;
    padding: 20px 0px;

    .title-input-bottom {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 70%;

      .h2-title {
        margin: 25px 0px;
        /* text-align: center; */
      }
      .label {
        font-size: 13px;
        color: #6f6e79;
        font-weight: bold;
        margin: 3px 4px;
      }

      .input-error {
        background-color: white;
        border: none;
        border-radius: 0;
        border-bottom: 2px solid red;
      }

      .icon-name {
        display: block;
        align-self: flex-end;
        margin-top: -20px;

        color: red;
      }
      .container-gender {
        display: flex;
        font-size: 15px;
        margin: 5px 0 15px 0px;
      }
    }
    .icon {
      display: none;
    }
    .icon-error {
      display: block;
      margin-top: -41px;
      align-self: flex-end;
      padding-right: 6px;
      color: red;
    }
    .error {
      color: red;
      font-size: 0.8rem;
      margin-top: 14px;
      text-align: end;
    }

    .status-error {
      color: red;
      font-size: 0.8rem;
      margin-top: -9px;
      text-align: end;
    }

    .gender-error {
      color: red;
      font-size: 0.8rem;
      margin: -9px 0px 5px;
      text-align: end;
    }

    .button {
      display: flex;
      align-items: center;
      .button-two {
        padding: 10px 33px;
        color: white;
        background: #372593;
        font-size: 16px;
        font-weight: bold;
        border-radius: 4px;
        outline: none;
        border: 1px solid gainsboro;
        cursor: pointer;
        margin: 12px;
      }
    }
  }
}

.input {
  margin: 5px 0 15px 0px;
  padding-left: 15px;
  height: 35px;
  border-radius: 5px;
  outline: none;
  font-size: 14px;
  border: 1px solid gainsboro;
}
.input:focus {
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #5fbae9;
}
