.login-out {
  display: flex;
  justify-content: space-between;
  margin: 8px;
  border-radius: 4px;
  align-items: center;
}

.imag {
  display: flex;
  padding: 16px;
  align-items: center;
}

.image-sesion {
  width: 42px;
  height: 38px;
  border-radius: 50%;
}
.user-name {
  margin-left: 18px;
  color: #74747f;
  font-weight: bold;
}

.user_icon_point {
  cursor: pointer;
}

.icon {
  color: #74747f;
  margin-top: 8px;
  padding: 8px;
}

.deployment-sesion {
  background: white;
  position: absolute;
  padding: 4px;
  border-radius: 6px;
  margin-top: -176px;
  margin-left: 187px;
  display: none;
}

.name-sesion {
  color: black;
  margin: 0px;
}
.admi {
  color: black;
}

.close-span-sesion {
  color: black;
}

.information-user {
  margin: 12px;
  border-bottom: 1px solid #eee;
}

.icon-close {
  margin: 12px;
  cursor: pointer;
}
.icon-user {
  color: red;
  margin-right: 10px;
}

.active {
  display: block;
}

.login-out:hover {
  background-color: #10101a;
}

.login-out:hover > .imag > .user-name,
.login-out:hover > .user_icon_point > .icon {
  color: white;
}

.loginActive {
  background-color: #10101a;
}

.loginActive > .imag > .user-name,
.loginActive > .user_icon_point > .icon {
  color: white;
}
