.label_enter {
  font-size: 13px;
  color: #6f6e79;
  font-weight: bold;
}
.form_input {
  margin: 5px 0 20px 0px;
  padding-left: 15px;
  height: 35px;
  border-radius: 5px;
  outline: none;
  font-size: 14px;
  border: 1px solid gainsboro;
}

.form-group {
  display: flex;
  flex-flow: column;
}

.icon_password {
  margin-top: -46px;
  padding-right: 10px;
  color: #c4c5ca;
  align-self: flex-end;
}
