.ancla {
  text-decoration: none;
  color: #4d4e55;
  font-size: 15px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-weight: bold;
}

.menu_list {
  list-style-type: none;
}

.ancla:hover {
  color: aliceblue;
}

.menu_item {
  margin: 8px 36px;
}
