.container-homeTwo {
  background: #e6e9ef;
  display: flex;
  overflow: auto;
  height: 100vh;
  .home-menu {
    width: 200px;
    display: flex;
    background-color: #18172a;
    flex-direction: column;
    justify-content: space-between;

    .home-categorias {
      .logo {
        font-size: 4em;
        color: #6d909e;
        padding: 10px 68px;
        margin: 15px 0px;
        cursor: pointer;
      }
      .close-user {
        margin-top: auto;
      }
    }
  }
  .home-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    background: #e6e9ef;

    .home-header {
      display: none;
    }

    .titleHeader {
      display: block;
      padding: 30px;
      box-shadow: 02px -1px 5px 0px #848484;
      background: whitesmoke;
    }

    .home-content {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      margin: 50px 0px;
    }
  }
}
ul {
  margin: 0px;
}
.addNotes::placeholder {
  color: rgb(172, 165, 165);
}
