.home-select {
  margin: 8px;
  border-radius: 4px;
  .categorias-list {
    list-style-type: none;
    padding: 5px;
    margin-bottom: 16px;
    cursor: pointer;
    .container-icon-list {
      padding: 8px 0px;
    }
    .icon-home {
      margin: 0px 14px;
      color: #74747f;
      font-size: 1.2em;
    }

    .title {
      color: #74747f;
      font-size: 18px;
      font-weight: bold;
    }

    .ul-container {
      display: none;
      margin-bottom: 7px;
      margin-left: 5px;
    }

    .visible {
      display: block;
    }
  }
}
.categorias-list:hover {
  .icon-home {
    color: white;
  }
  .title {
    color: white;
  }
}
.active {
  background-color: #10101a;
  .categorias-list {
    .icon-home {
      color: #4c3acd;
    }
    .title {
      color: #4c3acd;
    }
  }
}

ul {
  padding-inline-start: 0px;
}
